# using orders.csv
1. Load the CSV file into a pandas DataFrame. Ensure you parse created_date as a datetime type.
2. correct the data types
3. Display the first 10 rows of the DataFrame.
4. Show the basic information (info) and summary statistics (describe) of the dataset.
5. Count the total number of orders in each state (Cancelled, Completed, Pending).
6. Find the average total_paid for each state.
7. Extract the month and year from created_date and create new columns for them.
8. Calculate the total revenue (total_paid) per month.
9. Find the average total_paid for orders in each month of 2017.
10. Filter the orders that were completed in Q1 of 2017 and calculate their total revenue.
11. Export the DataFrame with the month and year columns to a new CSV file.
Delivery:
Jupyter Notebook (indiv. work)

In [ ]:
import pandas as pd

1. Load the CSV file into a pandas DataFrame. Ensure you parse created_date as a datetime type.
2. correct the data types
3. Display the first 10 rows of the DataFrame.

In [ ]:
df = pd.read_csv("./orders.csv", delimiter=",")
df.info()
df.head(10)

In [45]:
df["created_date"] = pd.to_datetime(df["created_date"], errors  ="coerce")
df.head(20)

    order_id        created_date  total_paid      state  month  year
0     241319 2017-01-02 13:35:40       44.99  Cancelled      1  2017
1     241423 2017-11-06 13:10:02      136.15  Completed     11  2017
2     242832 2017-12-31 17:40:03       15.76  Completed     12  2017
3     243330 2017-02-16 10:59:38       84.98  Completed      2  2017
4     243784 2017-11-24 13:35:19      157.86  Cancelled     11  2017
5     245275 2017-06-28 11:35:37      149.00  Completed      6  2017
6     245595 2017-01-21 12:52:47      112.97  Completed      1  2017
7     245851 2017-04-04 20:58:21       79.99    Pending      4  2017
8     245941 2017-01-01 10:32:23      183.52  Completed      1  2017
9     246018 2017-02-13 23:02:57      211.95  Completed      2  2017
10    246405 2017-11-24 10:01:27      407.96  Completed     11  2017
11    247524 2018-01-09 14:21:34      167.98  Completed      1  2018
12    247643 2017-05-26 11:50:35      153.54  Completed      5  2017
13    250275 2017-11-19 22:34:54       54.99  Completed     11  2017
14    251302 2017-05-10 12:27:33      140.99  Completed      5  2017
15    251688 2017-11-24 23:57:07      505.76  Completed     11  2017
16    251969 2017-11-21 21:04:12      610.07  Completed     11  2017
17    252371 2017-02-09 12:31:57       27.98    Pending      2  2017
18    253220 2017-10-04 19:37:10     1610.00  Completed     10  2017
19    253306 2017-10-04 14:14:45      497.68  Completed     10  2017

## 4. Show the basic information (info) and summary statistics (describe) of the dataset.

In [ ]:
df.info()
df.describe()

## 5. Count the total number of orders in each state (Cancelled, Completed, Pending).

In [ ]:
groups = df.groupby("state")
groups.size()

## 6. Find the average total_paid for each state.

In [40]:
results = groups.agg({"total_paid":"mean"})
results

                 total_paid
state
Cancelled        766.738125
Completed        341.381381
Pending          327.208899
Place Order      417.969775
Shopping Basket  729.252943

## 7. Extract the month and year from created_date and create new columns for them.

In [41]:
df["created_date"] = pd.to_datetime(df["created_date"], errors  ="coerce")
df["month"] = df["created_date"].dt.month
df["year"] = df["created_date"].dt.year

df.head()

   order_id        created_date  total_paid      state  month  year
0    241319 2017-01-02 13:35:40       44.99  Cancelled      1  2017
1    241423 2017-11-06 13:10:02      136.15  Completed     11  2017
2    242832 2017-12-31 17:40:03       15.76  Completed     12  2017
3    243330 2017-02-16 10:59:38       84.98  Completed      2  2017
4    243784 2017-11-24 13:35:19      157.86  Cancelled     11  2017

## 8. Calculate the total revenue (total_paid) per month.

In [50]:
groups = df.groupby("month")

results2 = groups.agg({"total_paid":"sum"})
results2

        total_paid
month
1      26714357.53
2      15215328.97
3      12306146.50
4       4346977.33
5       4192663.00
6       5420121.10
7       6059333.83
8       4347651.57
9       5698729.41
10      6567947.29
11     20342856.85
12     17947501.69

## 9. Find the average total_paid for orders in each month of 2017.

In [51]:
groups = df.groupby("month")

results2 = groups.agg({"total_paid":"mean"})
results2

       total_paid
month
1      607.434401
2      543.443423
3      648.203661
4      437.189714
5      435.329976
6      546.383175
7      438.161388
8      420.184746
9      494.123767
10     476.007196
11     640.235943
12     713.136317

## 10. Filter the orders that were completed in Q1 of 2017 and calculate their total revenue.

In [54]:
df["quarter"] = df["created_date"].dt.quarter

results3 = df.loc[(df["quarter"] == 1)    &   (df["year"] == 2017)]
results3

results3.agg({"total_paid":"sum"})

total_paid    15652804.94
dtype: float64

## 11. Export the DataFrame with the month and year columns to a new CSV file.

In [56]:
df.drop(columns=["quarter"])
df.head()

   order_id        created_date  total_paid      state  month  year  quarter
0    241319 2017-01-02 13:35:40       44.99  Cancelled      1  2017        1
1    241423 2017-11-06 13:10:02      136.15  Completed     11  2017        4
2    242832 2017-12-31 17:40:03       15.76  Completed     12  2017        4
3    243330 2017-02-16 10:59:38       84.98  Completed      2  2017        1
4    243784 2017-11-24 13:35:19      157.86  Cancelled     11  2017        4

In [57]:
df_new = df

df_new.to_csv("output.csv", index=False)